<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseLogin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DatabaseLogin.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastConnBase" serializeAs="String">
                <value />
            </setting>
            <setting name="LastConnServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedAccdb" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
        </DatabaseLogin.Properties.Settings>
    </userSettings>
</configuration>